.ListItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  margin: 5px;
  padding: 3px 10px;
  border-radius: 5px;
}
.ListItem button {
  background-color: rgba(0, 61, 41, 0.842);
  color: white;
  font-size: 15px;
  border-radius: 7px;
  padding: 5px 10px;
}
.ListItem p {
  text-align: left;
}
.ListItem img {
  width: 40px;
  border-radius: 50%;
}
.studentProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.studentProfile img {
  width: 100px;
}
.studentProfile #studentDetails span {
  margin: 5px;
}
.testListItem {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  align-items: center;
  margin: 10px auto;
}
.studentList {
  margin: auto;
  width: 50%;
}
.testList {
  margin: auto;
  width: 50%;
}
#link {
  text-decoration: none;
}
header ul {
  list-style: none;
  margin: 0;
  background-color: blueviolet;
  padding: 10px 10%;
  color: white;
  display: flex;
  justify-content: space-between;
}
header li {
  color: white;
  font-size: 28px;
}
header #nav {
  display: flex;
  justify-content: space-between;
}
header #nav a {
  margin-right: 20px;
}
@media screen and (max-width: 600px) {
  header #nav {
    display: none;
  }
}
@media screen and (min-width: 601px) {
  header button {
    display: none;
  }
}
.mobile-menu {
  display: none;
  flex-direction: column;
  z-index: 1;
  background-color: rgb(235, 235, 235);
  width: 200px;
  height: 100vh;
  position: fixed;
  right: 5px;
  padding: 20px;
  font-size: 22px;
  text-align: left;
}
.mobile-menu > a {
  text-decoration: none;
  color: navy;
}
@media screen and (min-width: 601px) {
  .mobile-menu {
    display: none;
  }
}
